@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");


h1{
    line-height: 1;
    font-weight: 1;
}

.main_page{
    height: 100vh;
    padding: 20% 0;
}

.page-header {
    text-align: center;
    /* margin-top: 277px; */
    font-weight: 900;
    color: #304252;
}

.page-header h1 {
    font-size: 135px;
    letter-spacing: 10px;
    align-items: center;
}

.skill_title{
    width: 50%;
}


.main_text{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 11%;
    font-family: Hoefler Text;
    font-size: 180px;
}

.first_text{
    display: flex;
}

.hh1{
    text-align: left;
}

.hh2{
    text-align: right;
}

.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6%;
}

.subtitle p{
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    color: #304252;
    letter-spacing: 1px;
}

.who{
    font-family: Hoefler Text;
    font-size: 18px;
}

.learn_more{
    display: flex;
    transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease; /* Плавное изменение цвета при наведении */
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    font-family: Hoefler Text;
    position: absolute;
    color: #fff;
    text-decoration: none;
}

.learn_more:hover{
    background-color: #fff;
    cursor: pointer;
    color: #304252;
}

.rounded{
    border-radius: none;
}

.learn_more a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}

.learn_more a:hover{
    color: #304252;
}

.main_img img{
    width: 100%;
}

.scroll-down {
    margin-top: 200px;
    font-size: 36px;
}

.hero-section {
    background-color: #304252;
    color: white;
    padding: 20px 0;
}

.hero-section_p {
    background-color: #304252;
    color: white;
    padding: 30px 0;
}

.img_logo{
    color: #fff;
}

.header {
    background-color: #304352; /* Цвет фона шапки */
    color: #fff; /* Цвет текста в шапке */
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.header_p {
    position: relative;
    z-index: 100;
    background-color: #304352; /* Цвет фона шапки */
    color: #fff; /* Цвет текста в шапке */
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

  /* Стили для логотипа */
  .logo img {
    max-width: 100px; /* Максимальная ширина логотипа */
  }
  
  /* Стили для навигации */
  .navigation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navigation-item {
    margin-left: 20px; /* Расстояние между ссылками */
  }
  
  /* .navigation-item:first-child {
    margin-left: 0;
  } */
  
  .navigation-link {
    color: #fff; /* Цвет ссылок */
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease; /* Плавное изменение цвета при наведении */
    border-radius: 100px; /* Закругление углов */
    padding: 10px 15px; /* Поля вокруг текста ссылки */
  }
  
  .navigation-link:hover {
    color: #304352; /* Цвет ссылки при наведении */
    background-color: #fff; /* Цвет фона при наведении */
  }



.services-section {
    text-align: center;
    padding: 50px 0;
}
.services-section h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 30px;
}
.service {
    font-size: 1.5rem;
    color: #f0f0f0;
}
.portfolio-section {
    padding: 50px 0;
}
.portfolio-section h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 30px;
}
.btn-custom {
    background-color: #333;
    color: #fff;
    width: 100px;
    border-radius: 1000%;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.5s;
}
.btn-custom:hover {
    background-color: #555;
}
footer {
    background-color: #111;
    color: #bbb;
    padding: 20px 0;
    text-align: center;
}
.bg-body-tertiary {
    background-color: #304252;
    color: #304252;
}

.scrollText{
    font-size: 200px;
    font-weight: bold;
    line-height: 1.5;
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 50px;
    margin-top: 0px;
    line-height: 1.5;
}

.scroll-text {
    margin-top: 30px;
    display: inline-block;
    animation: scroll-text 20s linear infinite;
    font-family: Hoefler Text;
    color: #304252;
    font-size: 6rem;
    z-index: 1;
}



@keyframes scroll-text {
    0%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.number {
    margin-right: 20px;
}

.line-animation {
    position: relative;
    flex-grow: 1;
}

.line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #fff;
    /* animation: growLine 2s forwards; */
}
/* 
@keyframes growLine {
    to {
        width: 100%;
    }
} */

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* .swiper {
    width: 100%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 50px;
} */

.branding-page {
    height: 100%;
    background: #304252;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.branding-text {
    position: absolute;
    bottom: -5%;
    left: 50%;
    color: white;
    z-index: 10;
}

.branding-text h1{
    transform: translateX(-109%) translateY(5%);
    font-size: 150px;
}

.branding-image {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    text-align: center;
}




.vertical_slider{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 0;
    overflow: hidden;

}

.vertical_slider>* {
    flex: 1 1 30rem;
}

.swiper{
    height: 100%;
    overflow: unset;
    max-width: max-content;
    margin: 0;
    margin-left: auto !important;    
}

.swiper_slide{
    transition: 0.5s, ease-in-out;
}

.swiper_slide img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 0 0.75rem var(--c1--2--2));
}



.text-container {
    display: flex;
    justify-content: start;
    align-items: center;
    /* height: 75vh; */
    color: #304252;
    /* margin-top: 25%; */
}

.text-wrapper {
    text-align: center;
    letter-spacing: 15px;
    position: relative;
}

.txt_h{
    font-family: Hoefler Text;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

.work {
    position: relative;
    font-size: 10rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
    margin: 0;
}

.hollow-circle {
    position: absolute;
    border-radius: 50%;
    border: 3px solid #304252;
    background-color: transparent;
    width: 370px;
    height: 150px;
    position: absolute;
    right: -8%;
    transform: rotate(-20deg);
    /* bottom: 0; */
    top: 60%;
}

.intro{
    background-color: #304252
}


.zxcv{
    position: relative;
    letter-spacing: 1px;
    width: 600px;
    margin-top: 25%;
}



.about-text-introduction{
    font-size: 30px;
}

.about-text-introduction p{
    font-size: 18px;
}

/* .contact-section {
    height: 100%;
} */

.bg-light {
    background: #EFEFEF linear-gradient(0deg, #ffffff00 0%, #324a5b 100%);
    margin-top: 70px;
    margin-bottom: 30px;
    border-radius: 33px;
    width: 1200px;
    height: 670px;
}

.bg{
    background: url("../images/ivy&rose-nextpage.jpg") center center / cover no-repeat;
}

.bgg{
    background: url("../images/qwerty.jpg") center center / cover no-repeat;
}

.bggg{
    background: url("../images/zxc.jpg") center center / cover no-repeat;
}

.bgg_g{
    background: url("../images/fgh.jpg") center center / cover no-repeat;
}

.bgg1{
    background: url("../images/cocoon-nextpage.jpg") center center / cover no-repeat;
}

.rounded{

    border-radius: 100px;
}

h2 {
    margin-top: 70px;
    color: white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
}

.btn-outline-light {
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 70px;
    letter-spacing: 0.05em;
}

.btn-outline-lightt {
    border: 2px solid #304352;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 70px;
    letter-spacing: 0.05em;
}

.btn-outline-light.px-5.py-3 {
    padding: 1rem 3rem !important;
}

.btn-outline-light.rounded-circle {
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    line-height: 1.7;
}

.btn-outline-lightt:hover {
    background-color: #304352;
    color: #fff;
}

.btn-outline-lightt.px-5.py-3 {
    padding: 1rem 3rem !important;
}

.btn-outline-lightt.rounded-circle {
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    line-height: 1.7;
}

.mainText_Vogue{
    margin-top: 70px;
    color: black;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
}



.text_Discover{
    line-height: 1.5;
    font-size: 130px;
    position: absolute;
    top: 50%;
    left: 39.5%;
    transform: translate(-50%, -50%);
    color: #9A0C0C;
    z-index: 3;
    /* font-weight: 300; */
}

.vogue_change{
    position: relative;
    transform: translate(0%, -3%);
    z-index: 1;
}

.vogue_changee{
    position: relative;
    transform: translate(0%, -2%);
    z-index: 1;
}

.img_zIndex{
    position: relative;
    z-index: 2;
}

.vogue_hero{
    padding: 20px 0 50px 0;
}

.lx{
    margin-top: 40px;
}

.mine_height{
    margin-top: 170px;
}

.vogue_text, .vogue_title{
    font-size: 18px;
    line-height: 1.4;
}

.vogue_image{
    height: 75%;
}

.card-footer{
    background-color: #304252;
}

.asd{
    margin: 80px 0 0 0;    
}

.asdd{
    display: none;
}

.arrow{
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 50%;
}

.letswork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("../images/t1.png"); */
    border-radius: 50%;
}

.send_msg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    /* background-color: red; */
    transition: 0.5s; 

}

.send_msg::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: conic-gradient(
        #fff 30deg, #fff 50deg, transparent 100deg
    );
    animation: animate 3s linear infinite; 
    transition: 0.5s; 

}

@keyframes animate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.send_msg::after{
    position: absolute;
    display: flex;
    content: 'Let`s Talk ';
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    background: #EFEFEF linear-gradient(0deg, #ffffff00 0%, #768a98 100%);;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    /* transition: color 0.15s ease, background-image 0.3s ease, border-radius 0.3s ease;  */
    transition: 0.5s; 

}

.send_msg:hover::after, .send_msg:hover{
    background: #fff;
    color: #304252;
    cursor: pointer;
    transition: 0.5s; 
    width: 200px;
    height: 200px;
}

h2{
    font-weight: 300;
}

.span1{
    font-family: Hoefler Text;
}

.radio{
    display: none;
}

.projects{
    position: relative;
    max-width: 1000px;
    max-height: 500px;
    margin: 5% auto;
}

.p_slide{
    width: 100%;
    position: absolute;
    height: 0;
    padding-top: 30%;
    overflow: hidden;
    border-radius: 50px;

}

.slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 50px;

}

.slide_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 1.3s;
    border-radius: 50px;

}

.caption{
    position: absolute;
    width: 100%;
    left: 5%;
    top: 5%;
    color: red;
}

.caption span{
    display: block;
    text-transform: initial;
    font-size: 80px;
    font-family: Hoefler Text;
} 

.main_name{
    display: block;
    text-transform: initial;
    font-size: 100px;
    
}





footer {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.left-link a {
    text-decoration: none;
    color: #333; /* Цвет ссылки слева */
}

.right-links a {
    text-decoration: none;
    color: #333; /* Цвет ссылок справа */
    transition: background-color 0.3s, color 0.3s;
}

.right-links a:hover {
    background-color: #007bff; /* Синий фон при наведении */
    color: #ff0000; /* Красный текст при наведении */
}

.transparent-box {
    
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	padding: 20px;
    margin: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.contact-heading {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
}
.contact-info {
	font-size: 18px;
	margin-bottom: 10px;
}


.send_msgg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    /* background-color: red; */
    transition: 0.5s; 

}

.send_msgg::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: conic-gradient(
        #fff 30deg, #fff 50deg, transparent 100deg
    );
    animation: animate 3s linear infinite; 
    transition: 0.5s; 

}

@keyframes animate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.send_msgg::after{
    position: absolute;
    display: flex;
    content: 'View Project ';
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    background: #EFEFEF linear-gradient(0deg, #ffffff00 0%, #768a98 100%);;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    /* transition: color 0.15s ease, background-image 0.3s ease, border-radius 0.3s ease;  */
    transition: 0.5s; 

}

.send_msgg:hover::after, .send_msg:hover{
    background: #fff;
    color: #304252;
    cursor: pointer;
    transition: 0.5s; 
    width: 200px;
    height: 200px;
}

.sls{
    margin-bottom: 7%;
    margin-top: 3%;
}


.logo_text{
    font-family: Hoefler Text;
    color: #000;
}

.container_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardd{
    width: 800px;
    background-color: transparent;
    border-radius: 8px;
    /* overflow: hidden; */
    /* box-shadow: 0px 2px 4px rgba(0,0,0,0.2); */
    margin: 20px;
    position: relative;
    cursor: pointer;
}

.cardd img{
    width: 100%;
    height: 500px;
    display: block;
    margin: auto;  
    border-radius: 50px;  
}

.card_body{
    /* padding: 15px;
    color: #304252; */
    border-radius: 50px;  
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.card_body:hover{
    opacity: 1;
}

.card_bodyy{
    display: flex;
    justify-content: center;
}

.card_bodyy p{
    font-size: 0.8rem;
    text-align: left;
    letter-spacing: 2px;
    color: #fff;
    padding: 1rem;
}

.card_body h3{
    font-family: Hoefler Text;
}

.card_body > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}

.card_body:hover > *{
    transform: translateY(0px);
}

.card_title{
    position: absolute;
    bottom: 5%;
    left: -15%;
    color: #fff;
    font-size: 5rem;
    z-index: 100;
}

.more_projects{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4%;
}

.more_projects a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.more_projects a:hover{
    background-color: #fff;
    color: #304252;
}

.intro_block{
    background-color: #304252;
    padding-bottom: 5%;
}

.introduction{
    display: flex;
    justify-content: space-between;
    font-family: Hoefler Text;
    color: #fff;
    padding: 100px 100px 0 100px;
}

.introd{
    display: flex;
    justify-content: space-between;
    font-family: Hoefler Text;
    color: #fff;
    padding: 100px 0px 0 0px;
    
}

.introduction_title h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

.introd_title h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.intro_text{
    width: 50%;
}

.wrx{
    padding-left: 10%;
}

.xrw{
    padding-left: 10%;
}


.text_intro{

    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.text_introo{

    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.skills{
    /* padding: 100px 0; */
    padding: 100px 100px 0 100px;
}


.soft_skills{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 100px;
    font-family: Hoefler Text;
    letter-spacing: 1.5px;
}

.apps{
    display: flex;
}

.apps_img{
    margin-right: 3%;
    /* width: 100px; */
}

.apps_img img{
    width: 70px;
}


.strategy{
    display: flex;
    justify-content: space-around;
}

.str_text{
    width: 80%;
}

.str_text h1{
    font-family: Hoefler Text;
    line-height: 1.5rem;
    padding: 0 0 20px 0;
}

.str_text p{
    font-size: 1rem;
    padding: 0 0 7% 0;
}

.str_img img{
    width: 450px;
}





.subtitle_v{
    display: none;
}

.about_me_a{
    display: flex;
    justify-content: space-between;
    margin: 150px 100px 0 100px;
    align-items: center;
}


.vog_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vog_image{
    padding: 20px 0;
}

.vog_image img{
    width: 300px;
}

.zxcv{
    font-size: 1.3rem;
    line-height: 1.5rem;
}






.dopclass{
    text-align: right;
    padding-left: 25%;
}







    
    .text-wrapper {
        text-align: center;
        letter-spacing: 10px;
        position: relative;
    }
    
    .txt_h{
        font-family: Hoefler Text;
    }
    
    h1 {
        font-size: 2rem;
        margin: 0;
    }
    
    .work {
        position: relative;
        font-size: 8rem;
        margin: 0;
    }
    
    p {
        font-size: 1.5rem;
        margin: 0;
    }
    
    .hollow-circle {
        position: absolute;
        border-radius: 50%;
        border: 3px solid #304252;
        background-color: transparent;
        width: 400px;
        height: 200px;
        position: absolute;
        right: -5%;
        transform: rotate(-20deg);
        top: 60%;
    }


@media screen and (max-width: 1220px) {
    .subtitle{
        display: none;
    }
    .subtitle_v{
        display: block;
        margin-top: 20px;
    }
    .subtitle_v p{
        font-size: 1rem;
        font-weight: 100;
        color: #304252;
        letter-spacing: 1px;
    }



    
    .text-wrapper {
        text-align: center;
        letter-spacing: 2px;
        position: relative;
    }
    
    .txt_h{
        font-family: Hoefler Text;
    }
    
    h1 {
        /* font-size: 1.5rem; */
        margin: 0;
    }

    .work {
        position: relative;
        font-size: 4rem;
        margin: 0;
    }
    
    p {
        font-size: 1.5rem;
        margin: 0;
    }
    
    .hollow-circle {
        position: absolute;
        border-radius: 50%;
        border: 3px solid #304252;
        background-color: transparent;
        width: 200px;
        height: 100px;
        position: absolute;
        right: 0;
        transform: rotate(-20deg);
        top: 60%;
    }

    /* .str_img img{
        width: 300px;
        height: auto; */

}

@media screen and (max-width: 1024px) {
    .wrx {
        padding-left: 22%;
    }

    .text_Discover {
        display: none;
    }

    .hollow-circle {
        border: 2.5px solid #304252;
        left: 43%;
    }

}

@media screen and (max-width: 1095px) {
    .zxcv{
        width: 400px;
    }
    .page-header h1{
        font-size: 50px;
    }

    .hh1{
        text-align: center;
    }
    
    .hh2{
        text-align: center;
    }
    .first_text{
        display: block;
    }
    .page-header {
        margin-top: 200px;
    }
    .who{
        font-size: 15px;
    }


    .soft_skills{
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .introduction{
        /* display: flex; */
        flex-direction: column;
        text-align: center;

    }

    .intro_text{
        width: 100%;
    }

    .text_Discover{
        font-size: 100px;
        position: absolute;
        top: 58%;
        line-height: 120px;
        left: 39.5%;
        transform: translate(-50%, -50%);
        color: #9A0C0C;
        z-index: 3;
        /* font-weight: 300; */
    }

    .skills {
        padding: 0px;
    }



    .strategy{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        
    }
    
    .str_text{
        width: 100%;
    }
    
    .str_text h1{
        font-family: Hoefler Text;
        line-height: 1.5rem;
        padding: 0 0 20px 0;
    }
    
    .str_text p{
        font-size: 1rem;
        padding: 0 0 7% 0;
    }
    
    .str_img img{
        width: 100%;
        padding: 30px 0;
    }

    .zxcv{
        letter-spacing: 1px;
        margin: 0;
    }

    .text-wrapper h1{
        font-size: 1.5rem;
    }

    .zxcv{
        font-size: 1rem;
    }

    .about-image img{
        width: 300px;
    }

}

.burger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}


@media (max-width: 768px) {
    .vogue_hero{
        padding: 100px 20px 50px;
    }

    .cardd img {
        height: 350px;
    }

    .cardd {
        width: 450px;
    }

    .wrx{
        padding-left: 25%;
    }

    .introd {
        padding: 85px 0px 0 0px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p.lead {
        font-size: 1rem;
    }

    p.text-secondary {
        font-size: 0.8rem;
    }
    .burger{
        display: block;
    }
    .burger.avtive .bar:nth-child(2){
        opacity: 0;
    }
    .burger.avtive .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.avtive .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation{
        position: fixed;
        left: -100%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: #304352;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        height: 100%;
    }

    .navigation.active{
        left: 0;
    }
    .text-wrapper h1{
        font-size: 1.4rem;
    }

    .hollow-circle {
        border: 2px solid #304252;
        height: 80px;
        top: 55%;
        left: 40%;
    }


    .zxcv{
        font-size: 1rem;
        padding: 2rem 2rem 0 0;
    }

    .ttt {
        text-align: left;
    }

    .about-image img{
        width: 200px;
    }

    .card_bodyy p{
        font-size: 0.8rem;
        text-align: left;
        letter-spacing: 2px;
        color: #fff;
        padding: 1rem 0rem 1rem 1rem;
        /* margin: 1rem 1rem; */
    }

    .more_projects a{
        width: 100px;
        height: 100px;
    }

    .letswork{
        margin: 7%;
    }
    .scroll-text {
        font-size: 2rem;
    }


    .dopclass{
        padding: 0;
        text-align: left;
    }



    .intro_block{
        padding-bottom: 15%;
    }
}


@media screen and (max-width: 800px)  {
    .card_body{
        height: 250px;
    }
    .card_title{
        font-size: 2rem;
    }

    .soft_skills{
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 30em) {
    .cardd img {
        height: 250px;
    }

    .cardd {
        width: 350px;
    }

    .card_bodyy p{
        font-size: 0.6rem;
        text-align: left;
        letter-spacing: 2px;
        color: #fff;
        padding: 1rem 0rem 1rem 1rem;
        /* margin: 1rem 1rem; */
    }

}


@media screen and (max-width: 799px)  {
    .imageee img{
        width: 400px;
    }
    .arrow{
        width: 50px;
        height: 50px;
    }

}

@media screen and (max-width: 30em){ /* mobile < 480px */
    .xrw {
        padding-left: 0;
    }
}

@media screen and (max-width: 615px) {
    .vogue_changee{
        transform: translate(0%, -2.7%);
    }
    .page-header h1{
        font-size: 30px;
    }
    .subtitle_v p{
        font-size: 14px;
    }
    .asd{
        display: none;
    }
    .asdd{
        display: block;
    }

    .hollow-circle {
        border-radius: 50%;
        border: 2px solid #304252;
        background-color: transparent;
        width: 180px;
        height: 100px;
        position: absolute;
        right: 10%;
        transform: rotate(-20deg);
        top: 50%;
    }


    .card_title{
        bottom: 5%;
        left: 5%;
        color: #fff;
        font-size: 5rem;
        z-index: 100;
    }    

    .card_title{
        font-size: 2rem;
    }


    .scroll-down {
        margin-top: 50px;
    }


    .text_Discover{
        font-size: 50px;
        position: absolute;
        top: 87%;
        left: 39.5%;
        line-height: 60px;
        transform: translate(-50%, -50%);
        color: #9A0C0C;
        z-index: 3;
        /* font-weight: 300; */
    }

    .text-container{
        display: block;
    }

    .main_page{
        height: 100vh;
    }

    .letswork h2{
        font-size: 18px;
        margin-top: auto;
    }

    .bg-light{
        height: auto;
    }

    .about_me_a{
        flex-direction: column;
    }

    /* .text-wrapper h1{
        font-size: 0.5rem;
    } */


    .zxcv{
        font-size: 0.9rem;
    }

    .about-image img{
        width: 280px;
    }

    .zxcv{
        line-height: 0.9rem;
        padding: 0 15%;
        text-align: center;
        margin: 20% 0;
    }

    .text-wrapper{
        margin-top: 10%;
    }

    .skills{
        padding: 0px 10px 0 20px;
        margin: 60px 0px 0 20px;
    }

    .introduction{
        text-align: left;
        font-weight: 100;
        padding: 50px 30px 0 40px;
    }

    .text_intro p{
        font-size: 1.3rem;

    }

    .text_introo{
        margin-bottom: 0.8rem;
    }

    .text_introo p{
        font-size: 1.3rem;
    }    

    .text_intro{
        margin: 1.3rem 0;
    }

    .soft_skills{
        align-items: flex-start;
    }

    .skill_content p{
        font-size: 1rem;
        line-height: 2rem;
    }

    .apps_img{
        width: 80px;
    }

    .apps_img img{
        width: 50px;
    }

    .skill_title{
        margin: 1rem 0 1.3rem;
    }
    .strategy_text{
        margin: 0 20px;
    }
    .str_text{
        margin-top: 15px;
    }

    .apps{
        margin-top: 1rem;
    }

    .introd{
        flex-direction: column;
    }

    .wrx{
        padding-left: 0;
    }

    .mazda{
        display: none;
    }

    .introd{
        padding: 30px 0 0 0;
    }

    .sls{
        margin-bottom: 0%;
    }

    .conctacts{
        margin-top: 20%;
    }

    .ttt{
        margin-bottom: 10px;
    }




    .btn-outline-light {
        border: 2px solid white;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 70px;
        letter-spacing: 0.05em;
    }
    
    .btn-outline-lightt {
        border: 2px solid #304352;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 70px;
        letter-spacing: 0.05em;
    }
    
    .btn-outline-light.px-5.py-3 {
        padding: 1rem 3rem !important;
    }
    
    .btn-outline-light.rounded-circle {
        border-radius: 50% !important;
        width: 150px;
        height: 150px;
        line-height: 1.7;
    }
    
    .btn-outline-lightt:hover {
        background-color: #304352;
        color: #fff;
    }
    
    .btn-outline-lightt.px-5.py-3 {
        padding: 1rem 3rem !important;
    }
    
    .btn-outline-lightt.rounded-circle {
        border-radius: 50% !important;
        width: 150px;
        height: 150px;
        line-height: 1.7;
    }



}


@media screen and (max-width: 420px) {

    .text_Discover{
        top: 75%;
    }

    .zxcv{
        width: 100%;
        padding: 0;
        font-size: 0.7rem;
    }

    .text-wrapper h1 {
        font-size: 1rem;
    }

    .hollow-circle {
        border-radius: 50%;
        border: 2px solid #304252;
        background-color: transparent;
        width: 150px;
        height: 70px;
        position: absolute;
        right: -8%;
        transform: rotate(-20deg);
        top: 55%;
    }

    .text_Discover{
        font-size: 2rem;
        line-height: 2rem;
        color: #fff;
    }

}