* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 300;
}

html {
    font-family: Hoefler Text;
    color: #304252;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hero {
    height: 100vh;
    width: 100%;
}

nav {
    position: fixed;
    background-color: #304252;
    height: 5rem;
    width: 100%;
    padding: 1rem 5% 1rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    z-index: 10000;
}
  
.logo {
    position: relative;
    max-width: 3.5rem;
}
  
  
nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0.6rem 1.25rem;
}
  
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
}
  
nav ul li a:hover {
    color: rgb(144, 144, 144);
    transition: .3s;
}

.burger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}

/*hero section*/

.hero {
    padding: 18rem 0 3rem 0;
    text-align: center;
}

.intro-text {
    padding-left: 10rem;
    text-align: center;
    font-weight: 900;
}

.intro-text h1 {
    font-size: 8.5rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.intro-2line {
    padding-left: 15rem;
    padding-bottom: 5rem;
}

.intro-description {
    display: flex;
    flex-direction: row;
}

.intro-description p {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 2.5rem 13rem 0 4rem;
    line-height: 1.4rem;
}

.arrow{
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 50%;
}

/*projects section*/

.project-section {
    background-color: #304252;
    color: white;
}

.project-section h1 {
    padding-top: 3rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.project-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 2rem 5rem 0 5rem;
    position: relative;
    cursor: pointer;
}

.card img {
    width: 65rem;
    height: 40rem;
    display: block;
    margin: auto;  
    border-radius: 2rem;
}

.card_overlay {
    border-radius: 2rem;  
    width: 65rem;
    height: 40rem;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.card_overlay:hover {
    opacity: 1;
}

.card-text{
    display: flex;
    justify-content: space-between;
}

.card-text p{
    font-size: 1rem;
    text-align: left;
    letter-spacing: 1px;
    color: #fff;
    padding: 1rem;
    line-height: 1.3rem;
}

.card_title{
    position: absolute;
    bottom: 5%;
    left: -15%;
    color: #fff;
    font-size: 8rem;
    z-index: 100;
}

.card_overlay > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}

.card_overlay:hover > *{
    transform: translateY(0px);
}

.more_projects{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 6rem;
}

.more_projects a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.more_projects a:hover{
    background-color: #fff;
    color: #304252;
}

/*contact section*/

.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gradient-bg {
    background: #EFEFEF linear-gradient(0deg, #ffffff00 0%, #324a5b 100%);
    border-radius: 1rem;
    width: 75rem;
    height: 40rem;
    display: flex;
    margin: 3rem 0 3rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gradient-bg h2 {
    padding: 4rem 0 3rem 0;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 50px;
}

.send_msg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s; 

}

.send_msg::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: conic-gradient(
        #fff 30deg, #fff 50deg, transparent 100deg
    );
    animation: animate 3s linear infinite; 
    transition: 0.5s; 

}

@keyframes animate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.send_msg::after{
    position: absolute;
    display: flex;
    content: "Let's Talk";
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    background: #EFEFEF linear-gradient(0deg, #ffffff00 0%, #768a98 100%);;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    transition: 0.5s; 

}

.send_msg:hover::after, .send_msg:hover{
    background: #fff;
    color: #304252;
    cursor: pointer;
    transition: 0.5s; 
    width: 200px;
    height: 200px;
}

/*footer*/

.social-media-links {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: baseline;
    padding: 2rem 4rem 2rem 4rem;
    color: #ffffff;
}

.right-content a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 1.5rem;
}

.social-media-links p {
    line-height: 1.5rem;
}

.footer p {
    text-align: center;
    padding-top: 1rem;
    color: #fff;
}

.footer {
    background-color: #304252;
    padding-bottom: 2rem;
}

/*ABOUT PAGE*/

.about-me {
    padding-top: 10rem;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.text-wrapper {
    text-align: center;
    letter-spacing: 10px;
    position: relative;
    padding: 3rem 0 3rem 5rem;
}

.about-image img {
    max-width: 430px; 
    border-radius: 350px;
}

.about-image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0 0 0 12rem;
}

.about-me-desc {
    letter-spacing: 1px;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding: 7rem 5rem 5rem 7rem;
}

.text-wrapper h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.text-wrapper h2 {
    padding-top: 2rem;
    font-size: 11rem;
    text-transform: uppercase;
}

.hollow-circle {
    position: absolute;
    border-radius: 50%;
    border: 3px solid #304252;
    background-color: transparent;
    width: 400px;
    height: 200px;
    right: -1%;
    transform: rotate(-20deg);
    top: 55%;
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 50px;
    margin-top: 0px;
    line-height: 1.5;
}

.scroll-text {
    display: inline-block;
    animation: scroll-text 20s linear infinite;
    font-family: Hoefler Text;
    color: #304252;
    font-size: 9rem;
    z-index: 1;
}

@keyframes scroll-text {
    0%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.about-me-introduction {
    background-color: #304252;
    color: #fff;
    padding-bottom: 5rem;
}

.introduction-text {
    display: flex;
    justify-content: space-between;
    padding: 5rem 5rem 3rem 5rem;
}

.introduction-text p {
    padding-left: 28rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 100;
    padding-bottom: 2rem;
}

.line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.white-line {
    position: relative;
}

.skills-text {
    padding: 8rem 5rem 0 5rem;
    display: flex;
    justify-content: space-between;
}

.skills-text h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.skills-text p {
    padding-left: 35%;
    font-size: 1.5rem;
    text-align: right;
    line-height: 2rem;
}

.apps{
    display: flex;
}

.apps_img {
    margin-right: 3%;
}

.apps img{
    width: 70px;
}

/*CONTACT PAGE*/

.contact-info {
    text-align: left;
    color: #000;
    padding: 12rem 5rem 1rem 5rem;
}

.subhead h3 {
    font-size: 1.9rem;
    line-height: 1.3;
    font-weight: 300;
    padding-top: 3rem;
}

.subhead h5 {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 300;
    padding-bottom: 2rem;
}

.contact-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-info h1 {
    text-transform: uppercase;
    font-size: 4rem; 
    line-height: 1.1;
    letter-spacing: 0.3rem;
}

.contact-tabs a{
    font-size: 1.5rem;
    line-height: 1.3;
    color: #304252;
    font-weight: 300;
    text-decoration: none;
}

.contact-tabs a:hover {
    color: #000;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black; 
    padding-right: 1.5rem;
}

.section-container{
    height: 72vh;
}

.contacts{
    width: 100%;
    justify-content: space-between;
    display: flex;
    /* height: 100vh; */
}

.contact img{
    width: 50px;
}

/*project page*/

.project-hero-container {
    padding: 10rem 3rem 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project-title {
    color: #9A0C0C;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 8rem;
    line-height: 9.2rem;
    z-index: 100;
    padding: 13rem 3rem 6rem 3rem;
}

.project-description {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 3rem;
    padding-top: 1rem;
    text-transform: uppercase;
    color: #fff;
}

.desc {
    padding-bottom: 0.5rem;
}

.project-description h1 {
    font-size: 1rem;
}

.project-description h2 {
    font-size: 1rem;
}

.desc {
    display: flex;
    justify-content: space-between;
}

.right-side {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 5%;
    padding-left: 10%;
}

.right-side h1 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
    color: #000;
}

.project-line {
    background-color: #000000;
}

.section-1 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.section-1 h1 {
    font-size: 1rem;
    text-transform: uppercase;
}

.project-img-card {
    z-index: 2;
}

.project-img-card img {
    width: 100%;
    border-radius: 1rem;
}

.section-2 {
    background-color: #304252;
    padding-top: 21rem;
    padding-right: 3rem;
}

.section-2 h1 {
    color: #fff;
    padding-left: 6rem;
    padding-bottom: 4rem;
    text-transform: uppercase;
}

.section-2 h2 {
    color: #fff;
    text-transform: uppercase;
}

.project-overview {
    color: #fff;
    padding-right: 3%;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.project-overview h2 {
    padding-top: 0rem;
    font-size: 1.5rem;
    padding-left: 6rem;
}

.project-overview p {
    font-size: 1.5rem;
    width: 56%;
    line-height: 1.8rem;
}

.process-explanation {
    position: absolute; 
    top: 87%;
    left: 0; 
    width: 100%; 
    z-index: -1;
}

.white-bg {
    padding: 3rem 6rem;
    color: #000;
}

.project-strategy {
    display: flex;
    justify-content: space-around;
}

.group {
    width: 80%;
    padding-bottom: 3rem;
}

.group h1 {
    padding-bottom: 1rem;
}

.group p {
    font-size: 1.1rem;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.strategy-img img {
    width: 450px;
}

.section-4 {
    padding: 5rem 0;
}

.heading {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    text-transform: uppercase;
}

.design-process {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.overview-line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.8rem;
}

.gallery img {
    width: 320px;
}

.section-4 p {
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.result-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 1rem;
}

.section-5 {
    padding-bottom: 2rem;
}

.card-img-column {
    grid-column-start: 1;
    grid-column-end: 2;
}

.card-img-top {
    grid-column-start: 1;
    grid-column-end: 3;
}

.card-img-columns {
    grid-column-start: 2;
    grid-column-end: 3;
}

.result-gallery img {
    width: 100%;
}

.next-project {
    background-color: #304252;
    display: flex;
    justify-content: center;
}

.next-project-card {
    background: url(../img/ivy&rose-nextpage.jpg) center center / cover no-repeat;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    width: 76rem;
    height: 42rem;
    color: #EFEFEF;
    text-align: center !important;
    padding: 3rem 0;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    text-transform: uppercase;
}

.ivyrose {
    background: url(../img/qwerty.jpg) center center / cover no-repeat;
}

.dime {
    background: url(../img/cocoon-nextpage.jpg) center center / cover no-repeat;
}

.cocoon {
    background: url(../img/fgh.jpg) center bottom / cover no-repeat;
}

.next-project-card button {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 70px;
    letter-spacing: 0.05em;
    width: 150px;
    height: 150px;
    line-height: 1.7;
    border-radius: 50% !important;
    color: #EFEFEF;
    border: 2px solid #fff;
    background-color: transparent;
    transition: 0.3s ease-out;
}

.next-project-card button:hover {
    background-color: #fff;
    color: #304252;
}

.next-project-card h1 {
    padding-top: 2rem;
}

.next-project-card h2 {
    font-size: 5rem;
    padding-top: 10rem;
}

@media screen and (max-width: 64em){ /* small laptop < 1024px */

    .hero {
        padding: 18rem 0 0 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0rem;
        padding-top: 5rem;
    }

    .intro-text {
        padding: 0.7rem 5rem 0 5rem;
    }

    .intro-text h1 {
        font-size: 6rem;
    }

    .intro-description p {
        padding: 0.7rem 0rem 0 3rem;
    }

    .intro-2line {
        padding-left: 16rem;
    }

    nav ul li {
        padding: 0.6rem 1rem;
    }

    .card img {
        width: 46rem;
        height: 32rem;
    }

    .card_overlay {
        width: 46rem;
        height: 32rem;
    }

    .more_projects {
        padding-top: 8%;
        padding-bottom: 4rem;
    }

    .gradient-bg {
        width: 55rem;
        height: 40rem;
    }

    .gradient-bg h2 {
        font-size: 3rem;
        padding: 0rem 0 4rem 0;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    nav {
        padding: 1rem 4% 1rem 4%;
    }

    .social-media-links {
        padding: 1rem 4.6rem 2rem 4.6rem;
    }

    .about-image img {
        width: 350px;
    }

    .card_title {
        font-size: 7rem;
        left: -12%;
    }

    .text-wrapper h2 {
        font-size: 6rem;
        padding-top: 1rem;
    }

    .text-wrapper h1 {
        font-size: 1.8rem;
        letter-spacing: 2px;
    }

    .hollow-circle {
        width: 240px;
        height: 120px;
        top: 19%;
        right: 1rem;
        border: 2.5px solid #304252;
    }

    .about-image {
        padding-left: 5.5rem;
    }

    .text-wrapper {
        padding-bottom: 0rem;
        padding-top: 4rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .about-me-desc {
        padding: 0rem 1rem 0rem 7rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 21rem;
    }

    .about-me {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .scroll-container {
        margin-top: -12rem;
        padding-bottom: 1rem;
    }

    .scroll-text {
        font-size: 7rem;
    }

    .about-me {
        padding-top: 12rem;
    }

    .introduction-text {
        padding: 4rem 2rem 3rem 2rem;
    }

    .introduction-text p {
        padding-left: 5rem;
    }

    .skills-text {
        padding: 5rem 2rem 0 2rem;
    }

    .apps {
        padding: 2rem;
    }

    .project-title {
        font-size: 6rem;
        line-height: 8rem;
        padding: 13rem 3rem 6rem 0rem;
    }

    .white-bg {
        padding: 3rem 3rem;
    }

    .project-strategy {
        flex-direction: column-reverse;
    }

    .strategy-img img {
        width: 100%;
        padding-bottom: 3rem;
    }

    .group {
        width: 100%;
    }

    .section-4 {
        padding: 4rem 0;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .gallery img {
        width: 100%;
    }

    .section-2 h1 {
        padding-left: 3rem;
    }

    .section-2 {
        padding-top: 12rem;
    }

    .project-overview h2 { 
        padding-left: 3rem;
    }

    .project-overview {
        padding-right: 0;
    }

    .process-explanation {
        top: 68%;
    }

    .project-description {
        padding-left: 0;
    }

    .right-side {
        padding-right: 0;
    }

    .next-project-card {
        width: 55rem;
        height: 40rem;
    }

    .cocoon {
        background: url(../img/fgh.jpg) center top / cover no-repeat;
    }

    .desc h2 {
        text-align: right;
        line-height: 1.2rem;
    }
}
@media screen and (max-width: 48em){ /* tablet < 768px */

    .burger{
        display: block;
    }

    .expand {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: #304352;
        width: 100%;
        text-align: left;
        transition: 0.3s;
        height: 100%;
        padding-top: 2rem;
        padding-left: 3%;
    }

    .expand.active{
        left: 0;
    }

    .intro-text {
        padding: 0.7rem 2rem 0 2rem;
    }

    .intro-text h1 {
        font-size: 4rem;
    }

    .intro-description p {
        padding: 0.2rem 0rem 0 1rem;
        font-size: 1rem;
        line-height: 1rem;
    }

    .intro-description {
        padding: 0 2rem;
    }

    .card img {
        width: 36rem;
        height: 26rem;
    }

    .card_overlay {
        width: 36rem;
        height: 26rem;
    }

    .gradient-bg {
        width: 43rem;
        height: 38rem;
    }

    .about-image img {
        width: 250px;
    }

    .text-wrapper {
        padding-top: 1rem;
        padding-left: 3rem;
    }

    .about-image {
        padding-left: 3.5rem;
    }

    .about-me-desc {
        padding: 16rem 1rem 0rem 3rem;
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .about-me {
        padding-top: 10rem;
    }

    .hollow-circle {
        top: 19%;
        right: -1.5rem;
        height: 110px;
        border: 2px solid #304252;
    }

    .scroll-text {
        font-size: 6rem;
    }

    .introduction-text {
        flex-direction: column;
    }

    .introduction-text h1 {
        padding-bottom: 3rem;
    }

    .introduction-text p {
        padding-left: 0rem;
    }

    .skills-text {
        flex-direction: column;
    }

    .skills-text p {
        text-align: left;
        padding-left: 0;
        padding: 2rem 0 1rem 0;
        width: 80%;
    }

    .apps {
        padding-left: 0;
    }

    .gradient-bg {
        margin-bottom: 3rem;
        width: 43rem;
        height: 34rem;
    }
    
    .gradient-bg h2 {
        font-size: 2.8rem;
    }

    .project-hero-container {
        padding-top: 7rem;
    }

    .project-title {
        font-size: 5rem;
        line-height: 5rem;
        padding: 12rem 0 3rem 0;
        padding-right: 0rem;
        padding-top: 12rem;
    }

    .desc {
        flex-direction: column;
        padding-bottom: 0.7rem;
    }

    .desc h2 {
        text-align: left;
        font-size: 0.9rem;
    }

    .desc h1 {
        padding-bottom: 0.2rem;
    }

    .project-description {
        padding-top: 0;
    }

    .project-img-card img {
        width: 25.2rem;
        height: 26.2rem;
    }

    .section-2 {
        padding-top: 13rem;
    }

    .project-overview p {
        font-size: 1.2rem;
    }

    .section-4 p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-top: 2rem;
    }

    .section-4 {
        padding-top: 2rem;
    }

    .next-project-card {
        width: 43rem;
        height: 32rem;
    }

    .next-project-card h2 {
        padding-top: 4rem;
    }

    .next-project-card h1 {
        padding-top: 0rem;
    }

    .card_title {
        left: -9%;
        font-size: 5.5rem;
    }

    .social-media-links {
        padding: 1rem 2.8rem 2rem 2.8rem;
    }

    .process-explanation {
        top: 64%;
    }
}

@media screen and (max-width: 30em){ /* mobile < 480px */
    .intro-2line {
        padding-left: 0rem;
    }

    .intro-description {
        flex-direction: column-reverse;
    }

    .intro-description p {
        padding: 0rem 2rem 3rem 2rem;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 3.5rem;
    }

    .card img {
        width: 21rem;
        height: 17rem;
    }

    .card_overlay {
        width: 21rem;
        height: 17rem;
    }

    .card-text {
        justify-content: space-between;
        padding-top: 0.5rem;
    }

    .card_title {
        font-size: 4rem;
    }

    .card-text p {
        font-size: 0.8rem;
        line-height: 1rem;
        letter-spacing: 0px;
    }

    .more_projects a {
        width: 130px;
        height: 130px;
    }

    .gradient-bg {
        width: 24rem;
        height: 24rem;
    }

    .gradient-bg h2 {
        font-size: 1.6rem;
    }

    .social-media-links {
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 1rem 2.8rem 1rem 2.8rem;
    }

    .right-content a {
        margin: 0rem 0.5rem;
    }

    .right-content {
        margin-top: 0.5rem;
    }

    footer p {
        font-size: 0.8rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .about-me {
        flex-direction: column;
        display: flex;
        justify-content: center; /* centers items horizontally */
        align-items: center;
    }

    .about-me {
        padding-top: 6rem;
    }

    .scroll-container {
        margin-top: 4rem;
        padding: 0;
    }

    .hollow-circle {
        top: 60%;
        right: -1.2rem;
    }

    .text-wrapper {
        padding: 0;
        margin-top: 14rem;
    }

    .about-me-desc {
        padding: 5rem 2rem 0rem 2rem;
        font-size: 0.9rem;
        text-align: center;
    }

    .about-image {
        padding: 2rem 0;
        align-self: center;
    }

    .scroll-container {
        margin-top: 10rem;
    }

    .about-image {
        padding: 3rem 0;
    }

    .introduction-text p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .skills-text p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 1rem 0 1rem 0;
    }

    .about-me-introduction {
        padding-bottom: 2rem;
    }

    .gradient-bg h2 {
        padding: 0rem 0 2.5rem 0;
    }

    .contact-info h1 {
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
    }

    .contact-info {
        padding: 10rem 2.5rem 1rem 2.5rem;
    }

    .subhead h3 {
        font-size: 1.8rem;
        padding-top: 2rem;
    }

    .project-hero-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .process-explanation {
        top: auto;
    }

    .project-hero-container {
        padding: 8rem 2rem 1rem 2rem;
    }

    .project-title {
        font-size: 4rem;
        line-height: 5rem;
        padding: 2rem 0 3rem 0;
    }

    .right-side {
        padding-left: 0;
    }

    .project-img-card img {
        width: 22.5rem;
        height: 24rem;
    }

    .project-description {
        color: #000;
    }

    .skills-text {
        padding: 3rem 2rem 0 2rem;
    }

    .card {
        margin: 2rem 0rem 0 0rem;
    }

    .intro-text {
        padding: 0.7rem 0rem 2rem 0rem;
    }

    .project-description {
        padding-top: 1rem;
    }

    .section-2 {
        padding-top: 3rem;
    }

    .project-overview {
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .section-2 h1 {
        padding-left: 2rem;
        padding-top: 0;
    }

    .project-overview h2 {
        padding-left: 2rem;
    }

    .project-overview p {
        padding: 1rem 2rem;
        font-size: 1.2rem;
        width: 100%;
    }

    .heading {
        padding-bottom: 1.5rem;
        font-size: 1.8rem;
    }

    .strategy-img img {
        padding-bottom: 2rem;
    }

    .group p {
        font-size: 1rem;
    }

    .group {
        padding-bottom: 2.5rem;
    }    

    .gallery {
        grid-gap: 0.3rem;
    }

    .section-4 {
        padding: 3rem 0;
    }

    .result-gallery {
        grid-template-columns: 1fr;
    }

    .next-project-card {
        width: 22rem;
        height: 28rem;
    }

    .next-project-card button {
        margin-top: 20px;
    }

    .next-project-card h2 {
        font-size: 4rem;
    }

    .next-project-card h1 {
        font-size: 1.5rem;
    }

    .next-project {
        box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    }

    .next-project-card {
        margin-top: 4rem;
    }

    .project-title {
        display: none;
    }
}



